@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

* {
	margin: 0 auto;
	padding: 0;
}

/***Estilos body***/

body {
	width: 100%;
	max-width: 1000px;
	font-family: 'Indie Flower', cursive;
}

/***Estilos header***/

header {
	width: 100%;
	position: relative;
}

#back {
	background-image: url("../img/design2_image1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

#titulo_principal {
	font-size: 48px;
}

#titulo_pagina {
	position: absolute;
	bottom: 0px;
	width: 100%;
	text-align: center;
	background: black;
	color: white;
}

#caja_logo {
	width: 20%;
	position: absolute;
	bottom: -225px;
	margin: 0;
}

#logo {
	width: 100%;
}

/***Estilos nav***/

nav {
	margin-left: 0;
	position: relative;
}
#menu {
	list-style: none;
	display: flex;
	width: 35%;
	margin: 0;
	position: absolute;
	right: 0;
	top: -340px;
}

#menu li {
	margin-left: 0;
	border: solid 2px black;
	background: white;
	-webkit-box-shadow: 9px 10px 0px -3px #000000; 
	box-shadow: 9px 10px 0px -3px #000000;
}

#menu li:hover {
	background: #8BEA23;
	color: white;
}

.menu_link {
	text-decoration: none;
	font-size: 20px;
	font-style: italic;
	font-weight: bold;
	color: #8BEA23;
	margin-right: 20px;
}

.menu_link:hover {
	color: white;
}

#menu ._select {
	background: #8BEA23;
}
._select>a {
	color: white;
}

/***Estilos main***/
main {
	width: 75%;
 	float: right;
 	margin-top: 20px;
}

main h3 {
	font-size: 24px;
	text-decoration: underline;
	font-style: italic;
	margin-bottom: 5px;
}

main p {
	font-size: 20px;
	margin-left: 30px;
}